body {
	background-image: 
}

.container {
	background-color: black;
}

.game-board {
	height: 500px;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
}
 
h1 {
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

.red {
	height: 250px;
	border: 1px solid black;
	background-color: red;
	border-radius: 10px 0px 0px 0px;
}

.blue {
	height: 250px;
	border: 1px solid black;
	background-color: blue;
	border-radius: 0px 10px 0px 0px;
}

.yellow {
	height: 250px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 0px 0px 0px 10px;
}

.green {
	height: 250px;
	border: 1px solid black;
	background-color: green;
	border-radius: 0px 0px 10px 0px;
}

#next {
z-index:9999;
position: absolute;
   width: 50%;
   top: 50%;
left:50%;
   margin-left: -25%;
   text-align: center;
   /* width: 100%; */
   height: 50px;
   font-size: 20px;
   line-height: 50px;
   vertical-align: middle;
   color: #333;
   background-color: white;
   border-radius: 10px;
   border: 2px solid black;
   font-weight: bold;
   cursor:pointer;
}

.button {
	cursor: pointer;
}
